body, html {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Выравнивание по верхней части */
    align-items: center;
    font-family: Arial, sans-serif;
    overflow: hidden; /* Убираем прокрутку */
    background-image: url('images/background.jpg');
    background-size: cover;
    background-position: center;
}

.header-container {
    position: fixed; /* Фиксируем заголовок в верхней части */
    top: 20px; /* Расстояние от верха */
    left: 50%; /* Центрируем по горизонтали */
    transform: translateX(-50%); /* Центрируем заголовок по горизонтали */
    z-index: 10; /* Помещаем заголовок поверх других элементов */
}

.title {
    font-size: 2rem;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.projects-container {
    display: flex;
    flex-direction: row; /* Горизонтальное расположение кнопок */
    align-items: flex-start; /* Выравнивание по верхнему краю */
    position: absolute; /* Положение относительно родителя */
    top: 100px; /* Увеличиваем расстояние от заголовка до кнопок */
    white-space: nowrap; /* Чтобы проекты не переносились */
}

.project-wrapper {
    margin-right: 50px; /* Увеличиваем расстояние между кнопками */
    display: flex;
    flex-direction: column; /* Вертикальное расположение кнопки и описания */
    align-items: center; /* Центрируем элементы внутри обертки */
}

.project {
    font-size: 1.5rem;
    color: #fff;
    transform: translateX(200vw); /* Стартовая позиция - за экраном справа */
    transition: transform 3s ease; /* Плавная анимация появления */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    cursor: pointer;
}

.project:hover {
    color: #f0f0f0;
}

.project-description {
    max-width: 600px; /* Максимальная ширина */
    min-width: 300px; /* Минимальная ширина */
    max-height: 300px; 
    min-height: 300px; 
    /*width: 100%; /* Ширина 100% от контейнера */
    background-color: #fff; /* Белый фон */
    color: #000; /* Черный текст */
    padding: 10px; /* Отступы */
    margin-top: 5px; /* Небольшое расстояние от кнопки */
    border-radius: 5px; /* Закругленные углы */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Тень для эффекта */
    transform: translateY(10px) translateX(200vw); /* Сдвинуть ниже кнопки и за экран */
    transition: transform 3s ease; /* Плавная анимация появления */
}


/* Модальное окно */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
    text-align: center;
}

.modal img {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.modal a {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: #000;
    background-color: #f0f0f0;
    padding: 10px 20px;
    border-radius: 5px;
}

.modal a:hover {
    background-color: #e0e0e0;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    cursor: pointer;
    color: #333;
}

.btn-new {
    border: none;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    background: #0B63F6;
    box-shadow: 0 5px 0 #003CC5;
    font-size: 1.5rem; /* Размер шрифта кнопки */
    padding: 10px 20px; /* Отступы кнопки */
    cursor: pointer; /* Указатель при наведении */
}

.btn-new:hover {
    background: #003CC5;
    box-shadow: none;
    position: relative;
    top: 5px; /* Эффект перемещения вниз при наведении */
}

/* Контейнер для машинки */
.map {
    position: relative;
    width: 100vw;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Стили машинки */
.car {
    width: 250px;
    height: 150px;
    background-image: url('images/car2.png'); /* путь к изображению машинки */
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 600px;
}
